* {
    padding: 0;
    margin: 0;
}

ul.grid {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 1240px;
    height: 740px;
    position: relative;
}

ul.grid li {
    width: 300px;
    height: 370px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

ul.grid li.twocol {
    width: 609px;
}

.tile {
    display: table;
    width: 100%;
    height: 100%;
}

.tile-content {
    padding: 25px 12px;
    text-align: center;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

ul.grid h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 12px;
    color: rgba(255,255,255,0.7);
}

ul.grid a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

ul.grid li:nth-child(4) {  
    background: #ec663c;
}

ul.grid li:nth-child(2) {  
    background: #9c4274;
}

ul.grid li:nth-child(3) {  
    background: #12b0c5;
}

ul.grid li:nth-child(5) {  
    background: #ff9618;
}

ul.grid li:nth-child(1) {  
    background: #de3961;
}

ul.grid li:nth-child(6) {  
    background: #2c3e50;
}

/*
47bbb3
E80C7A
FF0000
FF0DFF
FF530D
00FF48
fcf349
6dbcdb
2c3e50
de3961
00ada7
*/
